<%= form_for(@allbum) do |f| %>
  <% if @allbum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@allbum.errors.count, "error") %> prohibited this allbum from being saved:</h2>

      <ul>
      <% @allbum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <h5>Enter Album Details :</h5>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %> 
    <%= f.text_area :description, :size=>"29x5" %>
  </div>
  
  <br>
  <div class="actions">
    <%= f.submit "Save"%>
  </div>
<% end %>
